body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #FAEBD7;*/
  background-image: url(../light.jpg);
  background-size: cover;
  color:white;
}

a {
  color: #00B7FF;
}
