body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0 auto;
    width: 670px;
    border: 3px solid blue;
    padding: 0 2em 1em;
}
h2 { color: blue; }
label {
    float: left;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}
span { color: red; }
