extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href='/') index
    li
      a(href='/userlist') userlist
    li
      a(href='/helloworld') helloworld
    li
      a(href='/newuser') newuser
