doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      ul
    li
      a(href='/') index
    li
      a(href='/userlist') userlist
    li
      a(href='/helloworld') helloworld
    li
      a(href='/newuser') newuser
    block content
